@model Entrance_Control_App.Models.PersDepartViewModel;


@{
    ViewData["Title"] = "Распределение по отделам";
}


@if (User.Identity.IsAuthenticated)
{
    <span class="badge badge-light" style="font-size: 16px; position:relative; right: 185px; bottom: 60px">Пользователь: @User.Identity.Name</span>
}

<div class="text-center">
    <h2 class="display-5" style="position: relative; right: 30px">CИСТЕМА КОНТРОЛЯ ДОСТУПА</h2>
    <h5 class="text-center" style="position: relative; right: 30px">РАСПРЕДЕЛЕНИЕ СОТРУДНИКОВ ПО ОТДЕЛАМ</h5>
</div>

<div class="container-fluid">
    <div class="btn-group-vertical" role="group" style="position:relative; right:220px; top:70px; width: 250px">

        <a class="btn btn-outline-info rounded-top" asp-controller="Home" asp-action="Entrance">Доступ</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Personal">Сотрудники</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Positions">Должности</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Departments">Отделы</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Depart_Pers">Распределение по отделам</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Rooms">Помещения</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Turnstiles">Типы турникетов</a>
        <a class="btn btn-outline-info rounded-bottom" asp-controller="Home" asp-action="Statuses">Статус входа</a>

    </div>
    


    <table class="table-secondary table-bordered table-hover" style="position:relative; left: 80px; top:-250px; width:1200px; color:black">
        <thead>
            <tr class="table-info text-center">
                <th>Время начала работы</th>
                <th>Время завершения работы</th>
                <th>Рабочий телефон</th>
                <th>Сотрудник</th>
                <th>Отдел</th>
                <th>Должность</th>

            </tr>
        </thead>

        @foreach (var data in Model.PersDeparts)
        {

            <tbody>
                <tr class="text-center">
                    <td>@data.ВремяНачалаРаботы</td>
                    <td>@data.ВремяЗавершенияРаботы</td>
                    <td>@data.ТелефонРабочий</td>
                    <td>@data.IPers.ФамилияСотрудника @data.IPers.ИмяСотрудника @data.IPers.ОтчествоСотрудника</td>
                    <td>@data.Depart.НаименованиеОтдела</td>
                    <td>@data.Position.НаименованиеДолжности</td>

                </tr>

            </tbody>
        }

    </table>

</div>
