@model Entrance_Control_App.Models.EntranceViewModel;

@{
    ViewData["Title"] = "Редактор записи";
}

@if (User.Identity.IsAuthenticated)
{
    <span class="badge badge-light" style="font-size: 16px; position:relative; right: 185px; bottom: 60px">Пользователь: @User.Identity.Name</span>
}



<div class="text-center">
    <h2 class="display-5" style="position: relative; right: 30px">CИСТЕМА КОНТРОЛЯ ДОСТУПА</h2>
    <h5 class="text-center" style="position: relative; right: 30px">ИЗМЕНЕНИЕ ЗАПИСИ (ТАБЛИЦА "ДОСТУП")</h5>
</div>

<div class="container-fluid">
    <div class="btn-group-vertical" role="group" style="position:relative; right:210px; top:70px; width: 250px">

        <a class="btn btn-outline-info rounded-top" asp-controller="Home" asp-action="Entrance">Доступ</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Personal">Сотрудники</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Positions">Должности</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Departments">Отделы</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Depart_Pers">Распределение по отделам</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Rooms">Помещения</a>
        <a class="btn btn-outline-info" asp-controller="Home" asp-action="Turnstiles">Типы турникетов</a>
        <a class="btn btn-outline-info rounded-bottom" asp-controller="Home" asp-action="Statuses">Статус входа</a>

    </div>

    <form method="post" asp-action="EditEntr" asp-controller="Home">

        <div class="container" style="position: relative; left: 80px; top: -270px; width: 1200px">

            <div class="row">
                <div class="col">
                    <label class="text-justify" style="color: aliceblue;">ID Запись</label><br />
                    <input type="text" asp-for="@Model.ID_Item" class="border-dark shadow rounded-lg" style="background-color:aliceblue" value="@Model?.ID_Item" name="ID_Item"/>
                    <span style="color: red; background-color: ghostwhite; font-size: 14px;" asp-validation-for="@Model.ID_Item" />

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="text-justify" style="color: aliceblue;">Дата Входа</label><br />
                    <input type="date" asp-for="@Model.Date_Entance" class="border-dark shadow rounded-lg" style="background-color:aliceblue" value="@Model?.Date_Entance.GetDateTimeFormats()" name="Date_Entance"/>
                    <span style="color: red; background-color: ghostwhite; font-size: 14px;" asp-validation-for="@Model.Date_Entance" />

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="text-justify" style="color: aliceblue;">Дата Выхода</label><br />
                    <input type="date" asp-for="@Model.Date_Exit" class="border-dark shadow rounded-lg" style="background-color:aliceblue" value="@Model?.Date_Exit.GetDateTimeFormats()" name="Date_Exit"/>
                    <span style="color: red; background-color: ghostwhite; font-size: 14px;" asp-validation-for="@Model.Date_Exit" />

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="text-justify" style="color: aliceblue;">ID_Помещение</label><br />
                    <input type="text" asp-for="@Model.ID_Room" class="border-dark shadow rounded-lg" style="background-color:aliceblue" value="@Model?.ID_Room" name="ID_Room"/>
                    <span style="color: red; background-color: ghostwhite; font-size: 14px;" asp-validation-for="@Model.ID_Room" />

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="text-justify" style="color: aliceblue;">ID_Сотрудника</label><br />
                    <input type="text" asp-for="@Model.ID_Person" class="border-dark shadow rounded-lg" style="background-color:aliceblue" value="@Model?.ID_Person" name="ID_Person"/>
                    <span style="color: red; background-color: ghostwhite; font-size: 14px;" asp-validation-for="@Model.ID_Person" />

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="text-justify" style="color: aliceblue;">ID_ТипТурникета</label><br />
                    <input type="text" asp-for="@Model.ID_Type" class="border-dark shadow rounded-lg" style="background-color:aliceblue" value="@Model?.ID_Type" name="ID_type"/>
                    <span style="color: red; background-color: ghostwhite; font-size: 14px;" asp-validation-for="@Model.ID_Type" />

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="text-justify" style="color: aliceblue;">ID_СтатусДоступа</label><br />
                    <input type="text" asp-for="@Model.ID_Status" class="border-dark shadow rounded-lg" style="background-color:aliceblue" value="@Model?.ID_Status" name="ID_Status"/>
                    <span style="color: red; background-color: ghostwhite; font-size: 14px;" asp-validation-for="@Model.ID_Status" />

                </div>
            </div>


            <br /><button class="btn btn-outline-primary" type="submit">Сохранить изменения</button>
        </div>

</form>
</div>